node-red_flow.json
[
    {
        "id": "4f685d3ac8681bc2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3541466f728ebf6",
        "type": "mqtt in",
        "z": "4f685d3ac8681bc2",
        "name": "",
        "topic": "main",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c71071be1ba3a75",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 160,
        "wires": [
            [
                "88d4b11546aaa003"
            ]
        ]
    },
    {
        "id": "a1349d4f5bba0c33",
        "type": "influxdb out",
        "z": "4f685d3ac8681bc2",
        "influxdb": "41c1eb5b.0e79c4",
        "name": "Influx data",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "tran1",
        "bucket": "bucketnew",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "88d4b11546aaa003",
        "type": "json",
        "z": "4f685d3ac8681bc2",
        "name": "",
        "property": "payload",
        "action": "parse",
        "pretty": false,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "92a208893a451185",
                "9a1eae89fdc99070",
                "a28e46861f55d62d",
                "ea116ca615da04e7",
                "d2e0d31e63132658"
            ]
        ]
    },
    {
        "id": "92a208893a451185",
        "type": "debug",
        "z": "4f685d3ac8681bc2",
        "name": "temperature:",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.temperature",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "9a1eae89fdc99070",
        "type": "debug",
        "z": "4f685d3ac8681bc2",
        "name": "Humidity:",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.humidity",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "a28e46861f55d62d",
        "type": "debug",
        "z": "4f685d3ac8681bc2",
        "name": "Collision_status:",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.reed_status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "ea116ca615da04e7",
        "type": "function",
        "z": "4f685d3ac8681bc2",
        "name": "Format for InfluxDB",
        "func": "var temperature = parseFloat(msg.payload.temperature);\nvar humidity = parseFloat(msg.payload.humidity);\nvar reed_status = parseFloat(msg.payload.reed_status);  // Ensure this is always a string or a float\n\nif (isNaN(temperature) || isNaN(humidity)) {\n    node.error(\"Payload is missing required numerical fields\", msg);\n    return null;\n}\n\nmsg.payload = {\n    temperature: temperature,\n    humidity: humidity,\n    reed_status: reed_status  \n};\n\nmsg.measurement = \"sensor_data\";\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "a1349d4f5bba0c33"
            ]
        ]
    },
    {
        "id": "d2e0d31e63132658",
        "type": "rbe",
        "z": "4f685d3ac8681bc2",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.reed_status",
        "topi": "topic",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "11f358c99599a25b"
            ]
        ]
    },
    {
        "id": "11f358c99599a25b",
        "type": "switch",
        "z": "4f685d3ac8681bc2",
        "name": "",
        "property": "payload.reed_status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "d2d5c58f998a15d5"
            ],
            [
                "fbd01f64ded60a7b"
            ]
        ]
    },
    {
        "id": "d2d5c58f998a15d5",
        "type": "function",
        "z": "4f685d3ac8681bc2",
        "name": "Door Open Notification",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer your_token\"\n};\nmsg.payload = {\n    \"active\": true,\n    \"iden\": \"your_token\",\n    \"created\": (new Date()).getTime() / 1000,\n    \"modified\": (new Date()).getTime() / 1000,\n    \"type\": \"note\",\n    \"dismissed\": false,\n    \"direction\": \"self\",\n    \"sender_iden\": \"your_id\",\n    \"sender_email\": \"your_mail@gmail.com\",\n    \"sender_email_normalized\": \"your_mail@gmail.com\",\n    \"sender_name\": \"your_name\",\n    \"receiver_iden\": \"your_id\",\n    \"receiver_email\": \"your_mail@gmail.com\",\n    \"receiver_email_normalized\": \"your_mail@gmail.com\",\n    \"title\": \"Door Status Notification\",\n    \"body\": \"Door is open\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "f3eb6e3a33b0b6be"
            ]
        ]
    },
    {
        "id": "fbd01f64ded60a7b",
        "type": "function",
        "z": "4f685d3ac8681bc2",
        "name": "Door Closed Notification",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer your_token\"\n};\nmsg.payload = {\n    \"active\": true,\n    \"iden\": \"your_token\",\n    \"created\": (new Date()).getTime() / 1000,\n    \"modified\": (new Date()).getTime() / 1000,\n    \"type\": \"note\",\n    \"dismissed\": false,\n    \"direction\": \"self\",\n    \"sender_iden\": \"your_id\",\n    \"sender_email\": \"your_mail@gmail.com\",\n    \"sender_email_normalized\": \"your_mail@gmail.com\",\n    \"sender_name\": \"your_name\",\n    \"receiver_iden\": \"your_id\",\n    \"receiver_email\": \"your_mail@gmail.com\",\n    \"receiver_email_normalized\": \"your_mail@gmail.com\",\n    \"title\": \"Door Status Notification\",\n    \"body\": \"Door is closed\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 400,
        "wires": [
            [
                "f3eb6e3a33b0b6be"
            ]
        ]
    },
    {
        "id": "f3eb6e3a33b0b6be",
        "type": "http request",
        "z": "4f685d3ac8681bc2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.pushbullet.com/v2/pushes",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 840,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3c71071be1ba3a75",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41c1eb5b.0e79c4",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "tempacc",
        "name": "Local InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": false
    }
]
